# Dependencies
node_modules/

# Gradle/Build outputs
.gradle/
android/.gradle/
android/build/
android/app/build/
android/app/.cxx/
.cxx/

# Android build packages
*.apk
*.aab

# IDE configurations
.idea/
.vscode/

# Local/secrets configurations
local.properties
local.properties.local

